<div class="divider"></div>
<div class="row"></div>
<div class="row container">
  <form class="col s10 login-form blue-grey lighten-4">

    <div class="row">
      <h2>Blog Form</h2>
      <div class="input-field col s6">
        <input placeholder="Topic" type="text" class="" id="topicPost">
        <label for="Topic">Topic</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input placeholder="Comments" type="text" class="" id="commentsPost">
        <label for="Comments">Comments</label>
      </div>
    </div>
      <button class="btn waves-effect waves-light right" type="submit" name="action">Submit</button>
  </form>