<div class="row container">
  <form class="col s4 login-form">

    <div class="row">
      <h2>Login</h2>
      <div class="input-field col s4">
        <input placeholder="Email" type="email" class="validate" id="email-login email">
        <label for="email">Email</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s4">
        <input placeholder="password" type="password" class="validate" id="password-login password">
        <label for="password">Password</label>
      </div>
    </div>
  </form>
 <form class="col s4 new-user-form">

    <div class="row">
      <div class="input-field col s4">
        <input placeholder="Placeholder" id="username-signup" type="text" class="validate">
        <label for="first_name">First Name</label>
      </div>
    </div>


    <div class="row">
      <div class="input-field col s4">
        <input id="email email-signup" type="email" class="validate">
        <label for="email">Email</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s4">
        <input id="password password-signup" type="password" class="validate">
        <label for="password">Password</label>
      </div>
    </div>


    <div class="row">
      <div class="col s12">
        This is an inline input field:
        <div class="input-field inline">
          <input id="email_inline" type="email" class="validate">
          <label for="email_inline">Email</label>
          <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
        </div>
      </div>
    </div>
  </form>

  {{!-- this is a possible alternative way to have these inputs, but they are currently without the proper id's and classes
  <div class="row">
    <div class="col s12">
      This is an inline input field:
      <div class="input-field inline">
        <input id="email_inline" type="email" class="validate">
        <label for="email_inline">Email</label>
        <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
      </div>
    </div>
  </div>
</div> --}}

{{!-- New user form --}}
<div class="row">
 
</div>